@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");

header {
  flex: 1;
}

.logo {
  width: 187px;
}
.nav a {
  position: relative;
  font-size: 1.2em;
  margin-right: 1em;
  color: black;
  outline: 0;
}
.nav a:hover {
  color: "#BE1616";
}
.nav a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.nav a:hover:before {
  visibility: visible;
  width: 100%;
}
